div.slider{
    height:100%;
    width: 100%;    
    position: relative;
}
div.slide{
    height: 100%;
    width: 100%;
    position: absolute;
}

div[name = "First"]{
    background-image: greenyellow;
    background-image: url('../images/computer2.jpg');
}
div[name = "Second"]{
    background-color: blue;
    background-image: url('../images/computer3.jpg');
}
div[name = "Three"]{
    background-color: red;
    background-image: url('../images/computer4.jpg');
}
div[name = "Four"]{
    background-color: gold;
    background-image: url('../images/computer1.jpg');
}

div.slidePosition2{
    display: none;
}
div.slidePosition3{
    display: none;
}
/*** RTL ***/
div.slidePosition1.rtl{
    animation: gettinginRtl  0.5s linear forwards;
}
@keyframes gettinginRtl{
    from {
        margin-right: -100vw;
    }
    to {
        margin-right: 0;
    }
}
div.slidePosition0.rtl{
    animation: gettingOutRtl  0.5s linear  forwards;
}
@keyframes gettingOutRtl{
    from {
        margin-right:0;
    }
    to {
        margin-right:100vw;
    }
}

/*** LTR ***/

div.slidePosition0.ltr{
    animation: gettinginLtr  0.5s linear forwards;
}
/* @keyframes gettinginLtr{
    from {
        margin-left: -100vw;
    }
    to {
        margin-left: 0;
    }
} */
@keyframes gettinginLtr{
    from {
        left: -100vw;
    }
    to {
        left: 0;
    }
}

div.slidePosition1.ltr{
    animation: gettingOutLtr  0.5s linear  forwards;
}
/* @keyframes gettingOutLtr{
    from {
        margin-left: 0;
    }
    to {
        margin-left: 100vw;
    }
} */
@keyframes gettingOutLtr{
    from {
        left:0;
    }
    to {
        left:100vw;
    }
}
div.slide h1, div.slide .desc{
    position: absolute;
}
div.slidePosition1.rtl h1, div.slidePosition0.ltr h1{
    animation: godown  1s linear forwards;
    margin: 20%;
    /* transition: godown 0.8s ease; */
}
@keyframes godown{
    0%{
        transform: scaleY(0);
    }
    50% {
       top:0;
       display:none;
       transform: scaleY(0);
    }
    100% {
        top:10vw;
        display:block;
        transform: scaleY(1);
    }
}
div.slidePosition0.rtl h1, div.slidePosition1.ltr h1{
    animation: goupout  1s linear forwards;
    margin: 20%;
}
@keyframes goupout{
    0% {
        top:10vw;
        display:block;
        transform: scaleY(1);
    }
    50% {
        top:0;
        display:none;
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(0);
    }
}

div.slidePosition1.rtl .desc, div.slidePosition0.ltr .desc{
    animation: goup 1s linear forwards;
    margin: 20%;
}
@keyframes goup{
    0% {
        bottom:0;
        transform: scaleY(0);
    }
    50% {
        bottom:0;
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
        bottom:10vw;
       
    }
}
div.slidePosition0.rtl .desc, div.slidePosition1.ltr .desc{
    animation: godownout 1s linear forwards;
    margin: 20%;
}
@keyframes godownout{
    0% {
        transform: scaleY(1);
        bottom:10vw; 
    }
    50% {
        bottom:0;
        transform: scaleY(0);
    }
    100% {
        bottom:0;
        transform: scaleY(0);
    }
}

.HomePage button{
    position: absolute;
    top:50%;
    z-index: 100;
}

.HomePage button[name='LTR']{
    left:0;
}

/* @keyframes gettinginRtlpo{
    from {
        left: -100vw;
    }
    to {
       left: 0;
    }
} */
/* @keyframes gettingOutRtlpo{
    from {
        left:0;
    }
    to {
        left:100vw;
    }
} */



