div.slider{
    height:100%;
    width: 100%;    
    position: relative;
}
div.slide{
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    padding-top: calc(40px + 4.4vw);
    overflow: hidden;
}
@media screen and (min-width: 768px){
    div.slide{
        padding-top: 4.4vw;
    }
}
div[name = "First"]{
    background-color: greenyellow;
    background-image: url(../images/compm1.JPG);
}
div[name = "Second"]{
    background-color: blue;
    background-image: url(../images/compm2.jpg);
}
div[name = "Three"]{
    background-color: red;
    background-image: url(../images/compm3.jpg);
}
div[name = "Four"]{
    background-color: gold;
    background-image: url(../images/compm4.jpg);
}
@media (min-aspect-ratio: 13/10){
    div[name = "First"]{
        background-image: url(../images/comp1.JPG);
    }
    div[name = "Second"]{
        background-image: url(../images/comp2.JPG);
    }
    div[name = "Three"]{
        background-image: url(../images/comp3.JPG);
    }
    div[name = "Four"]{
        background-image: url(../images/comp4.JPG);
    }
}
@media (min-aspect-ratio: 8/5){
    div[name = "First"]{
        background-image: url(../images/compw1.JPG);
    }
    div[name = "Second"]{
        background-image: url(../images/compw2.JPG);
    }
    div[name = "Three"]{
        background-image: url(../images/compw3.JPG);
    }
    div[name = "Four"]{
        background-image: url(../images/compw4.JPG);
    }
    
}

div.slideStand2{
    display: none;
}
div.slideStand3{
    display: none;
}

/*** RTL ***/
div.slideStand1.rtl{
    animation: insideRtl  0.5s linear forwards;
}
@keyframes insideRtl{
    from {
        margin-right: -100vw;
    }
    to {
        margin-right: 0;
    }
}
div.slideStand0.rtl{
    animation: outsideRtl  0.5s linear  forwards;
}
@keyframes outsideRtl{
    from {
        margin-right:0;
    }
    to {
        margin-right:100vw;
    }
}

/*** LTR ***/

div.slideStand0.ltr{
    animation: insideLtr  0.5s linear forwards;
}
/* @keyframes insideLtr{
    from {
        margin-left: -100vw;
    }
    to {
        margin-left: 0;
    }
} */
@keyframes insideLtr{
    from {
        left: -100vw;
    }
    to {
        left: 0;
    }
}

div.slideStand1.ltr{
    animation: outsideLtr  0.5s linear  forwards;
}
/* @keyframes outsideLtr{
    from {
        margin-left: 0;
    }
    to {
        margin-left: 100vw;
    }
} */
@keyframes outsideLtr{
    from {
        left:0;
    }
    to {
        left:100vw;
    }
}
div.slide h1, div.slide .desc{
    position: absolute;
}
div.slideStand1.rtl h1, div.slideStand0.ltr h1{
    animation: insideTopToBottom  1s linear forwards;
    margin: 0vw 5% 5% 5%;
}
@keyframes insideTopToBottom{
    0%{
        transform: scaleY(0);
        margin-top: 0vw;
    }
    50% {
       /* top:0; */
       margin-top: 0vw;
       display:none;
       transform: scaleY(0);
    }
    100% {
        /* top:1vw; */
        margin-top: 5vw;
        display:block;
        transform: scaleY(1);
    }
}
div.slideStand0.rtl h1, div.slideStand1.ltr h1{
    animation: outsideBottomToTop  1s linear forwards;
    margin: 5vw 5% 5% 5%;
}
@keyframes outsideBottomToTop{
    0% {
        /* top:1vw; */
        margin-top: 10vw;
        display:block;
        transform: scaleY(1);
    }
    50% {
        /* top:0; */
        margin-top: 5vw;
        display:none;
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(0);
        margin-top: 5vw;
    }
}

div.slideStand1.rtl .desc, div.slideStand0.ltr .desc{
    animation: insideBottomToTop  1s linear forwards;
    margin: calc(60px + 5vw) 5% 5% 5%;
}
@keyframes insideBottomToTop{
    0% {
        /* bottom:0; */
        margin-top: calc(60px + 15vw);
        transform: scaleY(0);
    }
    50% {
        /* bottom:0; */
        margin-top: calc(60px + 15vw);
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
        /* bottom:1vw; */
        margin-top: calc(60px + 5vw);
       
    }
}
div.slideStand0.rtl .desc, div.slideStand1.ltr .desc{
    animation: outsideTopToBottom 1s linear forwards;
    margin: calc(60px + 5vw) 5% 5% 5%;
}
@keyframes outsideTopToBottom{
    0% {
        transform: scaleY(1);
        /* margin:3vw;  */
        margin-top: calc(60px + 5vw);
    }
    50% {
        /* bottom:0; */
        margin-top: calc(60px + 15vw);
        transform: scaleY(0);
    }
    100% {
        /* bottom:0; */
        transform: scaleY(0);
        margin-top: calc(60px + 10vw);
    }
}

.HomePage  div[name^='button']{
    position: absolute;
    top:50%;
    z-index: 100;
    font-size: calc(50px + 0.5vw);
    font-weight: bold;
    color: rgba(255,255,255,0.4);
    cursor: pointer;
}
.HomePage  div[name^='button']:hover{
    color: rgb(255,255,255);
}
.HomePage  div[name^='button']:active{
    color: rgba(40,126,148);
}
.HomePage div[name='buttonLTR']{
    left:0;
}

/* @keyframes gettinginRtlpo{
    from {
        left: -100vw;
    }
    to {
       left: 0;
    }
} */
/* @keyframes gettingOutRtlpo{
    from {
        left:0;
    }
    to {
        left:100vw;
    }
} */

.HomePage h1{
    font-size: bold;
    text-shadow:1.8px 1.8px 4px rgb(211, 218, 188); 
    font-size: calc(45px + 0.5vw);
    color: rgba(30,94,111);
    color: rgba(25,79,92);
}

.HomePage ul{
    padding-right: calc(15px + 0.5vw);
}

.desc{
    border: 1px rgb(188, 218, 218) solid;
    /* border: 2px rgba(40,126,148) solid; */
    border-radius: 10px;
    padding: calc(15px + 0.5vw);
    font-size: calc(24px + 0.5vw);
    padding: calc(10px + 0.5vw);
    font-size: calc(16.4px + 0.5vw);
    background-color: rgba(255,255,255,0.35) ;
    color: rgba(20,63,74);
}
div[name='joinButton']{
    position: absolute;
    top:80%;
    left: 0;
    width: calc(150px + 0.5vw); 
    width: calc(130px + 0.5vw); 
    margin-left: -20px;
    padding: calc(2px + 0.5vw); 
    padding: calc(6px + 0.5vw); 
    border-radius: 15px;

    background-color: #d46700;
    font-size: calc(24px + 0.5vw);
    cursor: pointer;
    transition: all 0.5s;
    color: black;
}
div[name='joinButton']:hover{
    width: calc(200px + 0.5vw);
    width: calc(170px + 0.5vw); 
    padding: calc(6px + 0.5vw) calc(27px + 0.5vw) ; 
}

@media screen and (min-width: 768px){
    div.desc{
        padding: calc(15px + 0.5vw);
        /* font-size: calc(20px + 0.5vw); */
        font-size: calc(24px + 0.5vw);
    }
    div[name='joinButton']{
        top:80%;
        left: 0;
        width: calc(150px + 0.5vw); 
        padding: calc(2px + 0.5vw);
        font-size: calc(22px + 0.5vw); 
    }
    div[name='joinButton']:hover{
        width: calc(200px + 0.5vw);
        padding: calc(2px + 0.5vw) calc(27px + 0.5vw) ; 
    }
}