Home{
    /* height: calc(100vh - 80px - 3.4vw); */
    height: calc(100vh - 80px - 6.9vw);
    height: 50px;
    margin-top: -7vw;
    /* margin-top: -3.4vw !important; */
}
ul.thumbs.animated{
    display:none;
}
img{
    height: calc(100vh - 80px - 6.9vw);
    border: 1px solid red;
}

