.Home{
    height: calc(100vh - 80px - 3.5vw);
    margin-top: -3.4vw;
}
.Home>div>div:last-of-type{
    display: none ;
}
p.carousel-status{
   display: none;
}
.homepgImg{
    height: calc(100vh - 80px - 3.5vw);
    border: 1px solid red;
}