.pageTemplate{
  width: 100%;
  /* height: calc(100vh - 80px - 3.5vw); */
  height: calc(100vh - 85px - 1.5vw);
  background-color: rgb(204, 238, 252);
  background-size: cover; 
  margin-top: -3.4vw;
  text-align: justify;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.backTemp{
  background-image: url(../images/backm3.jpg);
  background-size: cover; 
  overflow-y: auto;
  padding: calc(40px + 4.4vw) 10% 2.4vw 10%;
}

@media screen and (min-width: 768px){
  .pageTemplate{
    background-image: url(../images/back2.jpg);
  }
  .backTemp{
    padding-top: 4.4vw;
  }
}

div{
  font-size: calc(15px + 0.5vw);
}
 
.pageTemplate>h1, .wrapper>h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: calc(24px + 0.5vw);
    font-weight: bold;
    background: -webkit-linear-gradient(#D87206 30%, rgb(114, 61, 4));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: calc(-16px - 0.7vw);
}

h2{
  padding: calc(5px + 0.5vw) 0 0;
  font-size: calc(18px + 0.5vw);
  color:  rgb(34, 119, 136);
  text-shadow:0.3px 0.3px 1px rgb(34, 119, 136);
}