html, body{
  overflow-x: hidden !important;
  -webkit-overflow-scrolling: hidden;
  
}
.App {
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  background-color: #8BCFB7;
  overflow-x: hidden !important;
  direction: rtl;
}