.Footer{
    width:100%;
    height: calc(15px + 1vw);
    background-color: #8BCFB7;
    background-color: rgb(190, 156, 91);
    position: absolute;
    bottom: 0;
    font-size: 5px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: ltr;
}
.Footer svg{
    margin-left: calc(10px + 0.5vw);
}
.Footer div{
    margin: 0;
    padding: 0;
    font-size: calc(10px + 0.5vw);
}