.Footer{
    width:100%;
    height: calc(15px + 1vw);
    background-color: rgb(190, 156, 91);
    /* background-color: rgb(197, 89, 17); */
    /* background-color: rgb(206, 109, 44);
    background-color: rgb(252, 175, 125); */
    position: absolute;
    bottom: 0;
    direction: ltr;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Footer svg{
    /* margin-left: calc(10px + 0.5vw); */
    color: rgb(62, 62, 173);
    margin-top: -2px;
}
.Footer div{
    font-size: calc(11px + 0.5vw);
    /* color: rgba(25,79,92); */
    color: rgb(62, 62, 173);
}
.to-left{
    float: left;
}
.to-right{
    float: right;
}
.Footer a{
    color: rgb(62, 62, 173);
    text-decoration: underline;
}