.NavInformation{
    direction: rtl;
}
.top{
    width:100%;
    height: 6rem;
    /* background-image: linear-gradient( to right bottom, white,  #A5C9D9, #A5CACF, rgb(245,245,245),  rgb(245,245,245), rgb(245,245,245), rgb(245,245,245), rgb(245,245,245), rgb(245,245,245),  #A5C9D9, #A5CACF, white); */
    background-color: rgb(245,245,245);
     /* background-image: linear-gradient(#6BC4E6,  rgb(245,245,245), rgb(245,245,245), rgb(245,245,245), rgb(245,245,245) , #6BC4E6); */
     /* background-image: linear-gradient(to right bottom, #6BC4E6,  rgb(245,245,245), rgb(245,245,245) , rgb(245,245,245), #6BC4E6); */
    /* background-image: url(./images/Capture-lodigital.JPG); */
    /* background-size: cover;  */
    /* background-size: 100; */
    padding:0.6rem 0;
    /* border: 1px solid black; */
    /* flex: auto;
    -ms-flex-item-align: center; */
    /* background-image: url(./images/Capture8.JPG);
    background-position: -80% -80%;
    background-size: cover;  */
}
.top>div{
    background-image: url(./images/Capture-lodogotal2.JPG);
    background-repeat: no-repeat; 
    height: 100%;
    background-position: center;
}
/* .top>div:nth-of-type(2){
    background-image: url( ./images/Capture-lodogotal2.JPG);
    background-repeat: no-repeat; 
    /* margin: auto !important; */
    /* background-size: 100%; */
    /* background-color: violet; */
    /* height: 100%;
    background-position: center;
}
.top>div:last-of-type{
    background-image: url(./images/CaptureLogo.JPG);
    background-repeat: no-repeat; 
   transform: rotate(180);
    height: 100%;
    background-position: left;
} */ 
.bottom{
    width:100%;
    height: 1.7rem;
    background-color:#cf710d;
    background-color: orange;
}
/* Navigation style */
.navbar{
    /* background-image: linear-gradient( to right bottom, #287E94,  #197989,  #1f8ea1,  #1f8ea1, rgb(80, 158, 145));
    background-image: linear-gradient( to right bottom, rgb(40,126,148),  rgb(25,121,137),  rgb(31,142,161),  rgb(31,142,161), rgb(80, 158, 145)); */
    background-image: linear-gradient( to right bottom, rgba(40,126,148,0.9),  rgba(25,121,137,0.9),  rgba(31,142,161,0.9),  rgba(31,142,161,0.9), rgba(80, 158, 145,0.9));
    position: relative;
    z-index: 1000;
}
.navbar-nav{
    padding: 0.3rem 0 ;
    /* padding: 0.3rem 0; */
}
.nav-link {
    display: block;
    /* padding: 0 1rem 0.1rem; */
    /* padding: 0 0.8vw 0.1rem; */
}
.dropdown-menu{
    text-align: right;
    top: 2.2rem;
    left: auto;
}
div.mr-auto.navbar-nav a.nav-link, i{
line-height: 1.3rem;
/* line-height: 1.5rem; */
color: rgb(215,215,215);
/* font-size: 1.5rem; */
/* font-size: 1.8vw;
padding: 0 0.8vw 0.1rem; */
font-weight: bold;
background: -webkit-linear-gradient(white, rgb(200,200,200));
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
}

div.mr-auto.navbar-nav a.nav-link:hover, i:hover {
    color: rgb(190, 156, 91);
   
    background: -webkit-linear-gradient(orange, gray);
    -webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
    /* transform: scale(1.2) !important; */
    /* color: black !important;
    font-size: larger;
    font-weight: bold; */
    }

a.nav-link.activ {
    color: yellow !important;
    /* font-size: larger; */
    /* font-weight: bold; */
    }
/* .navbar-collapse>a { */
    /* FONT-WEIGHT: 200; */
    /* flex-basis: 100%; */
    /* flex-grow: 1;border-left: 1px solid orange; */
    /* align-items: center; */
    
/* } */
/* .show a{
    border-left: none !important;
    width: 100% !important;
    text-align: right !important;
    padding: 0.3rem 0;
    border-bottom: 1px solid orange;;
}
.show{
width: 10rem !important;
} */
/* #root > div.App > div.NavInformation > nav.navbar.navbar-expand-md.navbar-light> div#basic-navbar-nav.navbar-collapse.collapse>div.mr-auto.navbar-nav{
    div#basic-navbar-nav.navbar-collapse.collapse>div.mr-auto.navbar-nav{ */
div.mr-auto.navbar-nav{
    margin: auto !important;
}
div.mr-auto{
    /* display:flex;
    justify-content: space-between !important; 
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap; */
    /* margin:0 !important;  */
}
/* div.mr-auto.navbar-nav>*{
    
} */
@media screen and (min-width: 768px){
    div.dropdown.nav-item, a.nav-link:not(:last-of-type){
        border-left: 2px solid orange;
        
    }
    div.mr-auto.navbar-nav a.nav-link, i{
        font-size: 1.8vw;
        padding: 0 0.8vw 0.1rem;
    }
}

@media screen and (min-width: 768px){
    div.dropdown.nav-item, a.nav-link:not(:last-of-type){
        border-left: 2px solid orange;
    }
}
a.nav-link:nth-of-type(1){
    min-width: 4vw;
}
a.nav-link:nth-of-type(2){
    min-width: 14vw;
}
a.nav-link:nth-of-type(3){
    min-width: 12.5vw;
}
div.dropdown.nav-item>a{
    min-width: 15vw;
}
a.nav-link:nth-of-type(4){
    min-width: 8vw;
}
a.nav-link:nth-of-type(5){
    min-width: 17vw;
}
a.nav-link:nth-of-type(6){
    min-width: 7.8vw;
}
a.nav-link:nth-of-type(7){
    min-width: 9vw;
}
/* li{ */
    /* border-left: 1px solid orange;
    padding-left: 5px; */
    /* padding: 77px 0;
    line-height: 10px; */
    /* position: relative;
    width: 100px;
     */
/* } */
/* li::after{
   content: "|";
   color: orange;
   position: absolute;
   top: 6px;
   left: 0px;
  
} */
/* span{
    border-left: 1px solid orange;
    padding-left: 10px;
} */